table{
  border-collapse: collapse;
  width: 100%;
}
th{
  padding: 10px;
  background-color: #0c0c0c;
  color: #fff;
  border-right: 2px solid #fff !important;
  text-align: center !important;
}
td{
  padding: 10px;
  border: 1px solid #ccc !important;
}